* {
  font-family: "Poppins", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

::selection{
  background-color: #20c997;
  color: #fff;
}
a:active{
  color: #20c997;
}

/* <!-- start av bar --> */
header {
  background-color: #252424;
  width: 100%;
  position: fixed;
  z-index: 9999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px;
}
header .logo {
  text-decoration: none;
  font-size: xx-large;
  font-weight: bold;
  color: #fff;
}
header nav {
  margin: auto;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
}
header nav a {
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  transition: all 0.5s ease;
}
header nav a:hover {
  color: #20c997;
}

/* <!-- end nav bar --> */

/* <!-- start home section --> */
.home {
  background-image: url(../img/home/Screenshot_20221223_112257.png);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}
.home .container {
  color: #fff;
}
.home .layout {
  background-color: rgba(29, 29, 29, 0.829);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}
.home h2 {
  font-weight: 500;
}
.home h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 20px 0px;
}
.home .cta {
  background-color: transparent;
  color: #20c997;
  border: #20c997 3px solid;
  padding: 0.8rem 2.6rem;
  font-weight: 500;
  border-radius: 50rem;
  margin: 40px 0px;
  transition: all 0.5s;
}
.home .cta:hover {
  background-color: #20c997;
  color: #fff;
  border: #20c997 3px solid;
  margin: 40px 0px;
  padding: 0.8rem 2.6rem;
}
.home .scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  color: #fff;
  font-size: larger;
  animation-name: scroll;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes scroll {
  0% {
    bottom: 30px;
  }
  100% {
    bottom: 10px;
  }
}
.set-btn {
  position: fixed;
  background: #555555;
  z-index: 4;
  width: 40px;
  height: 40px;
  right: -1px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.set-btn i {
  color: #fff;
  font-size: 18;
}
/* <!-- end home section --> */

/*  <!-- start aboue me section --> */
.about {
  padding: 50px;
}
.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.title h2 {
  text-transform: uppercase;
  font-size: 120px;
  font-weight: 600;
  color: #dee3e4;
  opacity: 0.4;
}
.title p {
  font-size: 40px;
  font-weight: 600;
  position: absolute;
  align-self: center;
  border-bottom: #20c997 solid 5px;
}
.about .container {
  width: 90%;
  margin: auto;
  display: flex;
}
.text-content {
  padding: 10px;
  width: 70%;
}
.text-content h2 {
  margin-bottom: 10px;
}
.text-content h2 span {
  color: #20c997;
}
.about .info ul {
  list-style-type: none;
  padding: 10px;
  margin-left: 20px;
}
.about .info ul li {
  margin-bottom: 20px;
  border-bottom: #c7c7c7 solid 0.5px;
  padding-bottom: 10px;
}
.about .info ul li span {
  font-weight: bold;
}
.about .info ul li a {
  color: #20c997;
  text-decoration: none;
}
.about .info ul button {
  background-color: #20c997;
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
  border: none;
  padding: 0.8rem 2.6rem;
  border-radius: 12px;
  border-radius: 50rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.about .info ul button:hover {
  background-color: #0c9c71;
}
.about .num-container {
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.about .num-clu {
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}
.about .colm {
  text-align: center;
  width: 25%;
  padding: 20px;
  border-right: #c7c7c7 solid 0.5px;
}
.about .colm h4 {
  font-size: 50px;
  color: #6c757d;
  font-weight: 500;
}
/*  <!-- end aboue me section --> */

/* <!-- start services section --> */
.services {
  background-color: #f8f9fa;
  padding: 50px;
}
.services .serv-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services .service {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 10px;
  border: #252424 9px;
}
.services .service .icon {
  background-color: rgb(240, 239, 239);
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}
.service .icon i {
  font-size: 30px;
  color: #20c997;
}
.services .service .content {
  width: 80%;
}
.service .content h3 {
  font-weight: 400;
  margin-bottom: 10px;
}
/* <!-- end services section --> */

/* <!-- start resume section --> */
.resume {
  padding: 50px;
}
.resume h3 {
  font-size: 22px;
  font-weight: 600;
  margin-left: 30px;
}
.resume .res-container {
  display: flex;
}
.resume .edu-clum,
.exp-clum {
  padding: 10px;
}
.edu-clum .edu-block,
.exp-block {
  /* background-color: gray; */
  margin: 20px;
  padding: 20px;
  border: #c7c7c7 solid 0.5px;
  border-radius: 5px;
}
.edu-block span,
.exp-block span {
  background-color: #20c997;
  color: #fff;
  font-size: 14px;
  padding: 0px 5px;
  border-radius: 3px;
}
.edu-block h4,
.exp-block h4 {
  font-size: 20px;
  font-weight: 400;
  margin: 5px 0px;
}
.edu-block h5,
.exp-block h5 {
  color: red;
  font-weight: 400;
}
.edu-block p,
.exp-block p {
  margin: 15px 0px;
  color: #535353;
}
.skills-container {
  margin: auto;
  padding: 30px;
  display: flex;
}
.skills-title {
  margin-top: 30px;
}
.skills-title h3 {
  font-size: 22px;
  font-weight: 600;
}
.skills-container .left-skills,
.right-skills {
  width: 50%;
}
.skill-block {
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.skill-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.main-bar {
  width: 100%;
  height: 8px;
  background-color: #e9ecef;
  border-radius: 10px;
}
.inside-bar {
  width: 65%;
  height: 8px;
  background-color: #20c997;
  border-radius: 10px;
}
.resume .btn {
  display: flex;
  justify-content: center;
}
.resume .Main-CTA {
  background-color: transparent;
  border: #535353 solid 2px;
  color: rgb(44, 44, 44);
  font-size: 16px;
  margin-top: 5px;
  padding: 0.8rem 2.6rem;
  border-radius: 12px;
  border-radius: 50rem;
  transition: all 0.3s;
}
.resume .Main-CTA:hover {
  background-color: #6c757d;
  color: #fff;
}
/* <!-- end resume section --> */

/* <!-- start portfolio section --> */
.portfolio {
  padding: 50px;
  background-color: #f8f9fa;
}
.portfolio .por-container {
  padding: 30px 0px;
}
.portfolio .section-title {
  margin: auto;
  margin-bottom: 20px;
  width: 20%;
  display: flex;
  justify-content: space-evenly;
}
.portfolio .por-content {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
}
.project {
  margin: 20px;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.img-fade {
  position: absolute;
  background-color: rgba(29, 29, 29, 0.829);
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: all 0.5s;
}
.project img {
  width: 100%;
}
.project:hover .img-fade {
  opacity: 1;
}

/* <!-- end portfolio section --> */

/* <!-- start client section --> */
.client {
  margin: auto;
  padding: 50px;
}
.cli-container {
  display: flex;
  justify-content: space-evenly;
}
.cli-block {
  background-color: #f8f9fa;
  width: 40%;
  padding: 30px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.cli-block .block-title {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.block-title img {
  border-radius: 50%;
  margin-right: 10px;
}
.client .stars {
  color: orange;
  margin-top: 10px;
}
.client .section-nav {
  display: flex;
  justify-content: center;
}
.client .section-nav .circel {
  width: 10px;
  height: 10px;
  background-color: #20c997;
  margin: 10px 5px;
  border-radius: 50%;
}
.client .section-nav .circel-t {
  background-color: #535353;
}
/* <!-- end client section --> */

/* <!-- start contact section --> */
.contact {
  background-color: #f8f9fa;
  padding: 50px;
}
.con-contaienr {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.con-info {
  width: 20%;
}
.con-info h3 {
  font-size: 20px;
  font-weight: 400;
}
.con-info p {
  margin: 15px 0px;
}
.con-info i {
  color: #20c997;
  margin-right: 5px;
  font-size: 18px;
}
.form {
  width: 70%;
  display: flex;
  flex-direction: column;
}
.form input {
  width: 40%;
  height: 40px;
  margin: 20px 0px;
  font-size: 16px;
  padding: 20px;
  border: #d6d6d6 0.5px solid;
  border-radius: 5px;
}
.form textarea {
  width: 80%;
  height: 120px;
  display: block;
  font-size: 16px;
  padding: 20px;
  border: #d6d6d6 0.5px solid;
}
.form-btn {
  width: 80%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.form button {
  background-color: #20c997;
  color: #fff;
  font-size: 16px;
  margin-top: 5px;
  border: none;
  padding: 0.8rem 2.6rem;
  border-radius: 12px;
  border-radius: 50rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  transition: all 0.5s;
}
.form button:hover {
  background-color: #0c9c71;
}

/* <!-- end contact section --> */

/* <!-- start footer section --> */
footer {
  padding: 50px;
}
.fot-contaienr {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fot-contaienr .cir {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 250px;
}
.copyR span {
  color: #20c997;
}
.cir .border {
  width: 2px;
  height: 10px;
  background-color: #535353;
}
/* <!-- end footer section --> */
